---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

h1, h2, h3 {
    font: 'EB Garamond', Garamond, serif;
}

.wrapper {
    max-width: calc(1000px - (30px * 2));
}

video {
    width: 350px;
    float: right;
    margin: 1em;
}

figure {
    height: 400px;
}
