---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

h1, h2, h3 {
    font-family: 'EB Garamond', Garamond, serif;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 1.6rem;
    margin-top: 2rem;
}

h3 {
    font-size: 1.3rem;
    margin-top: 2rem;
}

img {
    display: block;
    margin: 2rem auto 2rem;
}

.wrapper {
    max-width: calc(1000px - (30px * 2));
}

video {
    width: 350px;
    float: right;
    margin: 1em;
}

figure {
    height: 400px;
}
